## Environment Setup

In [1]:
%%bash

rm latest.db
wget -nv https://storage.covid19datahub.io/latest.db.gz
gunzip latest.db.gz
pip install -U pandas_gbq

Collecting pandas_gbq
  Using cached pandas_gbq-0.17.7-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: google-cloud-bigquery-storage<3.0.0dev,>=1.1.0 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (2.13.1)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (1.19.5)
Requirement already satisfied: google-auth-oauthlib>=0.0.1 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (0.5.1)
Collecting db-dtypes<2.0.0,>=0.3.1
  Using cached db_dtypes-1.0.2-py2.py3-none-any.whl (14 kB)
Collecting pydata-google-auth
  Using cached pydata_google_auth-1.4.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (2.8.1)
Requirement already satisfied: pandas>=0.24.2 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (1.3.5)
Requirement already satisfied: google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (2.34.3)
Requirement already satisfied: google-auth>=1.25.0 in /home/jupyter/.local/lib/python3.7/site-packages (from pandas_gbq) (1.35.0)
Requirement already satisfied: pyarrow<9.0dev,>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (8.0.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from pandas_gbq) (59.8.0)
Requirement already satisfied: packaging>=17.0 in /opt/conda/lib/python3.7/site-packages (from db-dtypes<2.0.0,>=0.3.1->pandas_gbq) (21.3)
Requirement already satisfied: protobuf<4.0.0dev,>=3.15.0 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (3.20.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (1.56.2)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (2.27.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.25.0->pandas_gbq) (4.8)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.25.0->pandas_gbq) (1.16.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/jupyter/.local/lib/python3.7/site-packages (from google-auth>=1.25.0->pandas_gbq) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth>=1.25.0->pandas_gbq) (0.2.7)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from google-auth-oauthlib>=0.0.1->pandas_gbq) (1.3.1)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.3.0)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.46.3)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.8.2)
Requirement already satisfied: proto-plus>=1.15.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.20.5)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.3.3)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.24.2->pandas_gbq) (2022.1)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /opt/conda/lib/python3.7/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (1.46.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/conda/lib/python3.7/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.1.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=0.3.1->pandas_gbq) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.25.0->pandas_gbq) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas_gbq) (2.0.12)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.0.1->pandas_gbq) (3.2.0)
Requirement already satisfied: cffi>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from google-crc32c<2.0dev,>=1.0->google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (1.15.0)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.7/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas_gbq) (2.21)
Installing collected packages: db-dtypes, pydata-google-auth, pandas_gbq
Successfully installed db-dtypes-1.0.2 pandas_gbq-0.17.7 pydata-google-auth-1.4.0

rm: cannot remove 'latest.db': No such file or directory
2022-07-14 09:08:09 URL:https://storage.covid19datahub.io/latest.db.gz [192877360/192877360] -> "latest.db.gz" [1]

In [2]:
import sqlite3
import pandas as pd
import numpy as np
import pandas_gbq

project_id = 'michigan-351201'

In [3]:
db_file = 'latest.db'

query = '''
SELECT
*
FROM
  timeseries
'''

con = sqlite3.connect(db_file)

ts = pd.read_sql_query(query, con)

con.close()
ts

,id,date,confirmed,deaths,recovered,tests,vaccines,people_vaccinated,people_fully_vaccinated,hosp,...,information_campaigns,testing_policy,contact_tracing,facial_coverings,vaccination_policy,elderly_people_protection,government_response_index,stringency_index,containment_health_index,economic_support_index
0,015a43b1,2020-03-19,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,0.0,0.0,3.0,-53.12,-60.19,-51.79,-62.5
1,015a43b1,2020-03-20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,0.0,0.0,3.0,-53.12,-60.19,-51.79,-62.5
2,015a43b1,2020-03-21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,0.0,0.0,3.0,-53.12,-60.19,-51.79,-62.5
3,015a43b1,2020-03-22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,0.0,0.0,3.0,-53.12,-60.19,-51.79,-62.5
4,015a43b1,2020-03-23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,0.0,0.0,3.0,-53.12,-60.19,-51.79,-62.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10314394,677ca72f,2022-07-09,258517.0,3144.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,0.0,3.0,5.0,1.0,39.58,39.81,45.24,0.0
10314395,677ca72f,2022-07-10,258517.0,3144.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,0.0,3.0,5.0,1.0,39.58,39.81,45.24,0.0
10314396,677ca72f,2022-07-11,258517.0,3144.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10314397,677ca72f,2022-07-12,258874.0,3144.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10314398,677ca72f,2022-07-13,258874.0,3144.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
query = '''
SELECT
*
FROM
  location
'''

con = sqlite3.connect(db_file)

lo = pd.read_sql_query(query, con)

con.close()
lo

,id,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,population,iso_alpha_3,iso_alpha_2,iso_numeric,iso_currency,key_local,key_google_mobility,key_apple_mobility,key_jhu_csse,key_nuts,key_gadm
0,0007cb93,3,United States,Georgia,Schley,32.292015,-84.316045,5257.0,USA,US,840.0,USD,13249,ChIJzXKpmryy84gRdueJavHVBtk,None,US13249,None,USA.11.123_1
1,000b5b72,3,Netherlands,Noord-Brabant,Rucphen,51.520008,4.569756,22878.0,NLD,NL,528.0,EUR,GM0840,ChIJl1yWAWb2xkcRSDw4Rc4sUTQ,None,None,NL411,NLD.8.50_1
2,000c3f34,3,United Kingdom,England,Canterbury,51.276268,1.093488,166762.0,GBR,GB,826.0,GBP,E07000106,ChIJuWrfDkjK3kcRgEztoi2uDgQ,None,None,UKJ44,GBR.1.44.2_1
3,000d55de,3,Brazil,Minas Gerais,Felício dos Santos,-18.141644,-43.237025,4704.0,BRA,BR,76.0,BRL,3125408,None,None,BRMG3125408,None,BRA.13.286_1
4,0010460f,3,Brazil,Minas Gerais,Mar de Espanha,-21.860485,-43.004045,12901.0,BRA,BR,76.0,BRL,3139805,ChIJ3_IJ8E13mAARKz8IxwkYII0,None,BRMG3139805,None,BRA.13.460_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13679,v9324r34,2,Colombia,Vichada,None,4.500317,-69.463633,107808.0,COL,CO,170.0,COU,99,ChIJL0wGYMm4DI4RShTsnujDtOo,None,COVID,None,COL.32_1
13680,v98ahaal,3,France,La Réunion,La Réunion,-21.130834,55.535833,859959.0,FRA,FR,250.0,EUR,974,None,None,FRRE,FRY40,REU
13681,vd0neba8,2,Belgium,Ostbelgien,None,50.629200,6.033700,77949.0,BEL,BE,56.0,EUR,None,None,None,None,BE336,BEL.3.2_0
13682,xbcv29na,3,France,Saint Martin,Saint Martin,18.085000,-63.051109,34065.0,FRA,FR,250.0,EUR,978,None,None,None,None,MAF
13683,xlafa037,3,France,Guyane,Guyane,3.936208,-53.034301,290691.0,FRA,FR,250.0,EUR,973,None,None,FRGF,FRY30,GUF

In [5]:
pandas_gbq.to_gbq(lo, 'covid_siads591.location', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 12122.27it/s]

In [6]:
pandas_gbq.to_gbq(ts, 'covid_siads591.timeseries', project_id=project_id, if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 12228.29it/s]

## BigQuery

#@bigquery
SELECT
  *
FROM
  `michigan-351201.covid_siads591.timeseries` AS ts
LEFT JOIN
  michigan-351201.covid_siads591.location AS lo
ON
  ts.id = lo.id
LIMIT
  50

In [7]:
%%bigquery pandas_df

SELECT
  *
FROM
  `michigan-351201.covid_siads591.timeseries` AS ts
LEFT JOIN
  michigan-351201.covid_siads591.location AS lo
ON
  ts.id = lo.id
LIMIT
  50

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1245.59query/s]
Downloading: 100%|██████████| 50/50 [00:00<00:00, 60.00rows/s]

In [8]:
pandas_df.head()

,id,date,confirmed,deaths,recovered,tests,vaccines,people_vaccinated,people_fully_vaccinated,hosp,...,iso_alpha_3,iso_alpha_2,iso_numeric,iso_currency,key_local,key_google_mobility,key_apple_mobility,key_jhu_csse,key_nuts,key_gadm
0,015a43b1,2020-03-19,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LVA,LV,428.0,LVL,0967101,ChIJRSQdQvWM60YRcAPzaM3PAAM,None,None,LV008,LVA.4.6.2_0
1,015a43b1,2020-03-20,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LVA,LV,428.0,LVL,0967101,ChIJRSQdQvWM60YRcAPzaM3PAAM,None,None,LV008,LVA.4.6.2_0
2,015a43b1,2020-03-21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LVA,LV,428.0,LVL,0967101,ChIJRSQdQvWM60YRcAPzaM3PAAM,None,None,LV008,LVA.4.6.2_0
3,015a43b1,2020-03-22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LVA,LV,428.0,LVL,0967101,ChIJRSQdQvWM60YRcAPzaM3PAAM,None,None,LV008,LVA.4.6.2_0
4,015a43b1,2020-03-23,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LVA,LV,428.0,LVL,0967101,ChIJRSQdQvWM60YRcAPzaM3PAAM,None,None,LV008,LVA.4.6.2_0

In [9]:
# The following two lines are only necessary to run once.
# Comment out otherwise for speed-up.
from google.cloud.bigquery import Client, QueryJobConfig
client = Client()

query = """select * from covid_siads591.location limit 50"""
job = client.query(query)
df = job.to_dataframe()

In [10]:
df.head()

,id,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,population,iso_alpha_3,iso_alpha_2,iso_numeric,iso_currency,key_local,key_google_mobility,key_apple_mobility,key_jhu_csse,key_nuts,key_gadm
0,276d0a93,2,Spain,Melilla,None,35.292300,-2.938100,84689.0,ESP,ES,724.0,EUR,19,ChIJ15UT1nAFdw0RXoC3ZazsjF8,Melilla,ESML,ES64,None
1,2f23e06a,3,Colombia,Cundinamarca,El Rosal,4.880000,-74.240000,23244.0,COL,CO,170.0,COU,25260,ChIJcw2CTBGAQI4RktHZ7qKqZfM,None,COCUN25260,None,None
2,34124d91,3,Colombia,Bolívar,Magangué,9.170000,-74.750000,148838.0,COL,CO,170.0,COU,13430,ChIJz4tqbUS5Xo4R7PFLbZ9U_90,None,COBOL13430,None,None
3,3619758d,3,Brazil,Mato Grosso do Sul,Ladário,-19.008842,-57.597292,23689.0,BRA,BR,76.0,BRL,5005202,ChIJuZDzyxYLh5MRzP0-kiPA5Cw,None,BRMS5005202,None,None
4,3ae576ae,3,Brazil,Pernambuco,São José do Egito,-7.469447,-37.273974,34056.0,BRA,BR,76.0,BRL,2613602,ChIJLwHb1u2mqAcREBew4v622sE,None,BRPE2613602,None,None

## PySpark

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession \
  .builder \
  .appName('spark-bigquery') \
  .getOrCreate()

# Use the Cloud Storage bucket for temporary BigQuery export data used
# by the connector.
bucket = "yantk-michigan-nb-staging"
spark.conf.set('temporaryGcsBucket', bucket)

# Load data from BigQuery.
location = spark.read.format('bigquery') \
  .option('table', 'michigan-351201.covid_siads591.location') \
  .load()

timeseries = spark.read.format('bigquery') \
  .option('table', 'michigan-351201.covid_siads591.timeseries') \
  .load()

sdf = timeseries.join(location, on='id', how='left')

In [12]:
import pyspark.sql.functions as F

sdf = sdf.filter(sdf.population.isNotNull()).filter(sdf.deaths.isNotNull())

split = sdf.groupby('administrative_area_level_1')
apply = split.agg((F.max('deaths')/F.max('population')).alias("death_rate_pct"))
s_combine = apply.sort(F.desc("death_rate_pct"))
s_combine.show() ## 20 highest death rate countries

22/07/14 09:12:31 WARN org.apache.spark.util.Utils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.
[Stage 1:>                                                          (0 + 2) / 2]

+---------------------------+--------------------+
|administrative_area_level_1|      death_rate_pct|
+---------------------------+--------------------+
|                       Peru|0.006351913905093635|
|                   Bulgaria| 0.00530687596378496|
|                    Hungary| 0.00477322842958217|
|       Bosnia and Herzeg...|0.004757020983300185|
|                    Georgia|0.004519999602849714|
|            North Macedonia|0.004482567579375101|
|                 Montenegro|0.004387466310526544|
|                    Croatia|0.003944378490074105|
|                    Moldova|0.003888325747242...|
|             Czech Republic|0.003795227963914713|
|                   Slovakia|0.003701826274686415|
|           Diamond Princess|0.003503098895176...|
|                 San Marino|0.003433476394849...|
|                    Romania|0.003380073455735586|
|                   Slovenia|0.003366613722784289|
|                  Lithuania|0.003270697611994533|
|                     Brazil|0.003218141721967...|
|                      Chile|0.003143974422771...|
|              United States|0.003117226697938468|
|                  Gibraltar|0.003114063704846...|
+---------------------------+--------------------+
only showing top 20 rows

## Execute / Schedule

In [20]:
import base64
import json
from datetime import datetime
from time import sleep
from google.cloud.notebooks_v1.types import schedule
from google.cloud.notebooks_v1.types import service
from google.cloud.notebooks_v1.services.notebook_service import NotebookServiceClient


def nb_schedule():
    """Triggered by a change to a Cloud Storage bucket.
    Args:
         event (dict): Event payload.
         context (google.cloud.functions.Context): Metadata for the event.
         sample: {"name": <pipeline name>, "notebook_path": <gcs nb path>, "outputNotebookFolder": <gcs path>}
    """
    client = NotebookServiceClient()
    TIMESTAMP = datetime.now().strftime("%Y%m%d%H%M%S")
    pipeline_name = 'demo_pipeline'
    notebook_path = 'gs://yantk-michigan-nb-staging/destination/pipeline/pipeline_at_2022_07_09_14_00_00.ipynb'
    outputNotebookFolder = 'gs://yantk-michigan-nb-staging/destination' + '/pipeline'
    name = 'projects/michigan-351201/locations/us-west1/schedules/' + pipeline_name + '_' + TIMESTAMP
    displayName = pipeline_name + '_' + TIMESTAMP

    #notebook_path = 'gs://cloud-ai-platform-215613aa-2b9d-497b-ae76-dee1c0608dd6/executor_files/checkride_automl_pipeline__1643094590136/checkride_automl_pipeline.ipynb'
    containerImageUri = 'gcr.io/deeplearning-platform-release/base-cu113:latest'

    ExecutionTemplate = {
         "scale_tier": 'CUSTOM',
         "master_type": 'n1-standard-4',
         "input_notebook_file": notebook_path,
         "container_image_uri": containerImageUri,
         "output_notebook_folder": outputNotebookFolder,
         "job_type": 'VERTEX_AI',
         "service_account": 'vertex-managed-notebook@michigan-351201.iam.gserviceaccount.com'
     }

    sch = {'cron_schedule': "00 18 * * 5", 'time_zone': 'Asia/Hong_Kong', 'execution_template': ExecutionTemplate}
    request = {'parent': 'projects/michigan-351201/locations/us-west1', 'schedule_id': displayName, 'schedule': sch}

    client.create_schedule(request)

    sleep(1.00)

    client.get_schedule(name=name)

In [21]:
nb_schedule()

## Sync with Git